<h1>Productos</h1>

<ul>
  {{#each docs}}
    <li>
      {{this.title}} - ${{this.price}}
      <a href="/products/{{this._id}}">Ver detalle</a>
    </li>
  {{/each}}
</ul>

{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}">Anterior</a>
{{/if}}

{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}">Siguiente</a>
{{/if}}
